
<div class="flex flex-col">
    <h2 mat-dialog-title>{{isEdit ? 'Edit' : 'Add'}} Product</h2>
    <mat-dialog-content class="mat-typography" >
      <form [formGroup]="form" class="flex flex-col space-y-5 pt-3">
        <div class="flex flex-col md:flex-row gap-4">
          <div class="md:w-1/2">
            <mat-form-field class="w-full" appearance="outline">
              <mat-label>Product Name</mat-label>
              <input matInput placeholder="John Doe" formControlName="name" required>
              <mat-error *ngIf=" !serverErrors  && form.get('name')?.touched && form.get('name')?.invalid">Product Name is required</mat-error>
            </mat-form-field>
          <mat-error class="-mt-5 text-xs" *ngIf="serverErrors && serverErrors['name']"> {{ serverErrors['name'] }}</mat-error>

          </div>
          <div class="md:w-1/2">
            <mat-form-field class="w-full" appearance="outline">
              <mat-label>Product Code</mat-label>
              <input matInput placeholder="John Doe" formControlName="code"  required>
              <mat-error *ngIf=" !serverErrors  && form.get('code')?.touched && form.get('code')?.invalid">Product Code is Required</mat-error>
            </mat-form-field>
          <mat-error class="-mt-5 text-xs" *ngIf="serverErrors && serverErrors['code']"> {{ serverErrors['code'] }}</mat-error>

          </div>
        </div>

        <div class="flex flex-col md:flex-row gap-4">
          <div class="md:w-1/3">


            <mat-form-field floatLabel="always" class="w-full" appearance="outline">
              <mat-label>Product Price</mat-label>
              <input matInput type="number" min="0"  placeholder="0.00" formControlName="unitPrice" required>
              <span matTextPrefix>ETB&nbsp;</span>
              <mat-error *ngIf=" !serverErrors  && form.get('unitPrice')?.touched && form.get('unitPrice')?.invalid">Product Price is Required</mat-error>

            </mat-form-field>
          <mat-error class="-mt-5 text-xs" *ngIf="serverErrors && serverErrors['unitprice']"> {{ serverErrors['unitprice'] }}</mat-error>

          </div>
          <div class="md:w-1/3">


            <mat-form-field floatLabel="always" class="w-full" appearance="outline">
              <mat-label>Discount</mat-label>
              <input matInput type="number" min="0" class="example-right-align" placeholder="0.00" formControlName="discount"  >
              <span matTextPrefix>ETB&nbsp;</span>
              <mat-error *ngIf=" !serverErrors  && form.get('discount')?.touched && form.get('discount')?.invalid">Discount is Required</mat-error>

            </mat-form-field>
          <mat-error class="-mt-5 text-xs" *ngIf="serverErrors && serverErrors['discount']"> {{ serverErrors['discount'] }}</mat-error>

            <!-- <mat-form-field class="w-full" appearance="outline">
              <mat-label>Discount</mat-label>
              <input matInput placeholder="John Doe" formControlName="name" [(ngModel)]="candidate.name" >
              <mat-error *ngIf="form.get('name')?.touched && form.get('name')?.invalid">Name is </mat-error>

            </mat-form-field> -->
          </div>
          <div class="md:w-1/3">
            <mat-form-field class="w-full" appearance="outline">
              <mat-label>Product Point</mat-label>
              <input matInput placeholder="10" min="0" type="number" formControlName="point"  >
              <mat-error *ngIf=" !serverErrors  && form.get('point')?.touched && form.get('point')?.invalid">Product Point is Required</mat-error>

            </mat-form-field>
          <mat-error class="-mt-5 text-xs" *ngIf="serverErrors && serverErrors['point']"> {{ serverErrors['point'] }}</mat-error>

          </div>
        </div>

        <div class="flex flex-col md:flex-row gap-4">
          <div class="md:w-1/3">
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>Queue Day</mat-label>
                <input min="0" matInput #queueDay maxlength="1" type="number" placeholder="Ex. 1" formControlName="averageQueueDay" required>
                <mat-hint align="end">{{queueDay.value.length}} / 1</mat-hint>
                <mat-error *ngIf=" !serverErrors  && form.get('averageQueueDay')?.touched && form.get('averageQueueDay')?.invalid">Average Queue Day is Required </mat-error>
              </mat-form-field>
          <mat-error class="-mt-5 text-xs" *ngIf="serverErrors && serverErrors['averagequeueday']"> {{ serverErrors['averagequeueday'] }}</mat-error>

          </div>
          <div class="md:w-1/3">
            <mat-form-field class="w-full" appearance="outline">
              <mat-label>Queue Hour</mat-label>
              <input min="0" matInput #queueHour maxlength="1" type="number" placeholder="Ex. 1" formControlName="averageQueueTimeHour" required>
              <mat-hint align="end">{{queueHour.value.length}} / 1</mat-hint>
              <mat-error *ngIf=" !serverErrors  && form.get('averageQueueTimeHour')?.touched && form.get('averageQueueTimeHour')?.invalid">Average Queue Hour is Required </mat-error>

            </mat-form-field>
          <mat-error class="-mt-5 text-xs" *ngIf="serverErrors && serverErrors['averagequeuetimehour']"> {{ serverErrors['averagequeuetimehour'] }}</mat-error>

          </div>
          <div class="md:w-1/3">
            <mat-form-field class="w-full" appearance="outline">
              <mat-label>Queue Minute</mat-label>
              <input min="0" matInput #queueMinute type="number" type="number" min="1" max="60" placeholder="Ex. 30" formControlName="averageQueueTimeMinute"  required>
              <mat-hint align="end">{{queueMinute.value.length}} / 2</mat-hint>
              <mat-error *ngIf=" !serverErrors  && form.get('averageQueueTimeMinute')?.touched && form.get('averageQueueTimeMinute')?.invalid">Average Queue Minute is Required</mat-error>
            </mat-form-field>
          <mat-error class="-mt-5 text-xs" *ngIf="serverErrors && serverErrors['averagequeuetimeminute']"> {{ serverErrors['averagequeuetimeminute'] }}</mat-error>

          </div>

        </div>


        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea formControlName="description" matInput></textarea>
          <mat-error *ngIf=" !serverErrors  && form.get('description')?.touched && form.get('description')?.invalid">Product Description is </mat-error>

        </mat-form-field>
        <mat-error class="-mt-5 text-xs" *ngIf="serverErrors && serverErrors['description']"> {{ serverErrors['description'] }}</mat-error>


        <!-- <mat-form-field appearance="outline">
          <mat-label>Main Ingredients</mat-label>
          <textarea formControlName="mainIngredients" matInput></textarea>
        </mat-form-field> -->

        <mat-form-field appearance="outline">
          <mat-label>Tag</mat-label>
          <textarea formControlName="tag" matInput></textarea>
          <mat-error *ngIf=" !serverErrors  && form.get('tag')?.touched && form.get('tag')?.invalid">Product Tag is </mat-error>
        </mat-form-field>
        <mat-error class="-mt-5 text-xs" *ngIf="serverErrors && serverErrors['tag']"> {{ serverErrors['tag'] }}</mat-error>

        <div class="flex flex-col md:flex-row gap-4">
          <div class="md:w-1/2">


            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Select a Category</mat-label>
              <mat-select formControlName="categoryId"   (selectionChange)="onCategorySelectionChange($event)">
                <ng-container *ngFor="let category of selectedCategoriesField">
                  <mat-option [value]="category.id">{{category.categoryName}} </mat-option>
                </ng-container>
              </mat-select>
            <mat-error *ngIf="  !serverErrors  && form.get('categoryId')?.touched && form.get('categoryId')?.invalid">Select Category</mat-error>

            </mat-form-field>
            <mat-error class="-mt-5 text-xs" *ngIf="serverErrors && serverErrors['categoryid']"> {{ serverErrors['categoryid'] }}</mat-error>


          </div>
          <div class="md:w-1/2">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Select a Sub Category</mat-label>
              <mat-select formControlName="subCategoryId" [value]="product?.subCategoryId" required>
                <ng-container *ngFor="let subCategory of selectedSubCategoriesField">
                  <mat-option [value]="subCategory.id">{{ subCategory.subCategoryName }}</mat-option>
                </ng-container>
              </mat-select>
            <mat-error *ngIf=" !serverErrors  && form.get('subCategoryId')?.touched && form.get('subCategoryId')?.invalid">Select Sub Category </mat-error>
            </mat-form-field>
            <mat-error class="-mt-5 text-xs" *ngIf="serverErrors && serverErrors['subcategoryid']"> {{ serverErrors['subcategoryid'] }}</mat-error>

          </div>

        </div>

        <div class="w-full">
          <div class="flex">
            <input type="file" (change)="handleImageUpload($event)" accept="image/*">
            <div  *ngIf="selectedImage">
              <img class="w-32 h-auto" [src]="selectedImagePreview" alt="Selected Image">
            </div>
          </div>

        </div>
        <button
        class="bg-[#0E483F] text-white py-2 px-4 font-cormorant text-xl rounded-lg hover:bg-white hover:text-[#0E483F] hover:border hover:border-[#0E483F] transition-transform duration-300 transform"
        [disabled]="isSaving"
        (click)="onSave()"
      >
      <ng-container *ngIf="!isSaving; else loadingAnimation">
       Save
     </ng-container>
      </button>

      <ng-template #loadingAnimation>
       <div class="flex items-center justify-center">
         <div class="animate-spin rounded-full mr-3 h-8 w-8 border-t-2 border-b-2 border-[#9e6207]"></div>
         <span>Saving...</span>
       </div>
     </ng-template>
      </form>
    </mat-dialog-content>
  </div>
