<div class="flex justify-between items-center py-5">
  <!-- <p-toast [showTransformOptions]="'translateY(100%)'" [showTransitionOptions]="'1000ms'" [hideTransitionOptions]="'1000ms'" [showTransformOptions]="'translateX(100%)'"></p-toast> -->
  <p-toast position="bottom-right"></p-toast>
    <h2 class="font-bold font-cormorant text-3xl">Lists of Orders</h2>
    <!-- <button
      class="bg-[#0E483F] border text-white py-2 px-4 font-cormorant text-xl rounded-lg hover:bg-white hover:text-[#0E483F] hover:border hover:border-[#0E483F] transition-transform duration-300 transform hover:scale-105"
      (click)="openDialog()"
    >
      Add Order
    </button> -->
  </div>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Outline form field</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Placeholder" #input />
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>
<ng-container *ngIf="dataLoaded && userRole ==='Branch_Admin'">


    <div
      class="mat-elevation-z8 example-table-container"
      style="width: 100%; overflow-x: auto; position: relative;"
    >


      <table
        mat-table
        [dataSource]="dataSource"
        matSort
      >

        <!-- ID Column -->
        <ng-container matColumnDef="orderCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Code </th>
          <td mat-cell *matCellDef="let row; let i = index">{{ row.orderCode }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="orderType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Type </th>
          <td mat-cell *matCellDef="let row">{{ row.orderType }}</td>
        </ng-container>

        <!-- Product Name Column -->
        <ng-container matColumnDef="totalItems">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Items </th>
          <td mat-cell *matCellDef="let row">{{ row.orderDetails.length }}</td>
        </ng-container>

        <!-- Product Price Column -->
        <ng-container matColumnDef="orderPrice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Price </th>
          <td mat-cell *matCellDef="let row">{{ row.totalPrice }}</td>
        </ng-container>

        <!-- Discount Column -->
        <ng-container matColumnDef="orderDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Date </th>
          <td mat-cell *matCellDef="let row">{{ row.orderDateTime | date:'short' }}</td>
        </ng-container>

        <ng-container matColumnDef="pickUpDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Pickup Date </th>
            <td mat-cell *matCellDef="let row">{{ row.pickupDateTime | date:'short' }}</td>
          </ng-container>

        <!-- Orderable Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td mat-cell *matCellDef="let row">
            <mat-select disableRipple class="order-button px-10" [(value)]="row.orderStatus" (selectionChange)="updateOrderStatus(row)">
              <mat-option *ngFor="let status of orderStats" [value]="status.value" [ngStyle]="getSelectStyle(status.value, row.orderStatus)">{{ status.label }}

                <!-- <div *ngIf="isUpdating"  class="animate-spin  rounded-full mr-3 h-8 w-8 border-t-2 border-b-2 border-[#9e6207]"></div> -->
                <div *ngIf="isUpdating" class="spinner " style="font-size: 10px; color: rgb(75, 189, 75);">  (Updating...)</div> <!-- Show the spinner when updating -->

                  <!-- <p-progressSpinner  *ngIf="isUpdating"  styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner> -->

              </mat-option>
            </mat-select>
          </td>
        </ng-container>


        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let row">
            <div class="button-group">
              <button
                mat-icon-button
                (click)="showProductDetails(row)"
                style="color: green;"
                class="small-button edit"
              >
                <mat-icon aria-label="Edit">visibility</mat-icon>
              </button>
              <!-- <button
                mat-icon-button
                style="color: red;"
                (click)="deleteData(row)"
                class="small-button delete"
              >
                <mat-icon aria-label="Delete">delete</mat-icon>
              </button> -->
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="6">No data matching the filter "{{ input.value }}"</td>
        </tr>
      </table>

      <mat-paginator
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 25, 100]"
        [showFirstLastButtons]="true"
        aria-label="Select page of users"
        [length]="dataSource.data.length"
      ></mat-paginator>
    </div>

</ng-container>
<!-- <mat-form-field appearance="outline" class="w-full">
  <mat-label>Outline form field</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Placeholder" #input />
  <mat-icon matPrefix>search</mat-icon>
</mat-form-field> -->

<ng-container *ngIf=" dataLoaded && userRole === 'Admin'" >

  <div
    class="mat-elevation-z8 example-table-container"
    style="width: 100%; overflow-x: auto; position: relative;"
  >

    <table
      mat-table
      [dataSource]="dataSource"
      matSort
    >

      <!-- ID Column -->
      <ng-container matColumnDef="orderCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Code </th>
        <td mat-cell *matCellDef="let row; let i = index">{{ row.orderCode }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="branch">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Branch Name </th>
        <td mat-cell *matCellDef="let row">{{ row.branch.branchName }}</td>
      </ng-container>

      <!-- Product Name Column -->
      <ng-container matColumnDef="totalItems">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Items </th>
        <td mat-cell *matCellDef="let row">{{ row.orderDetails.length }}</td>
      </ng-container>

      <!-- Product Price Column -->
      <ng-container matColumnDef="orderPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Price </th>
        <td mat-cell *matCellDef="let row">{{ row.totalPrice }}</td>
      </ng-container>

      <!-- Discount Column -->
      <ng-container matColumnDef="approvedBy">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Approved By: </th>
        <td mat-cell *matCellDef="let row">
          <ng-container *ngIf="row.systemAdmin">
            {{ row.systemAdmin.fullName }}
          </ng-container>
          <ng-container *ngIf="!row.systemAdmin">
            -
          </ng-container>
        </td>
              </ng-container>

      <ng-container matColumnDef="pstatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Payment Status </th>
          <td mat-cell *matCellDef="let row" [ngStyle]="getPaymentStatusStyle(row.payment)" class="font-bold ">
            {{ row.payment ? 'Success' : 'Pending' }}
          </td>

      </ng-container>

      <!-- Orderable Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Order Status </th>
        <td  mat-cell *matCellDef="let row" [ngStyle]="getOrderStatusStyle(row.orderStatus)" class="font-bold">
          {{ getOrderStatusLabel(row.orderStatus) }}
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let row">
          <div class="button-group">
            <button
              mat-icon-button
              (click)="showProductDetails(row)"
              style="color: green;"
              class="small-button edit"
            >
              <mat-icon aria-label="Edit">visibility</mat-icon>
            </button>
            <!-- <button
              mat-icon-button
              style="color: red;"
              (click)="deleteData(row)"
              class="small-button delete"
            >
              <mat-icon aria-label="Delete">delete</mat-icon>
            </button> -->
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="6">No data matching the filter "{{ input.value }}"</td>
      </tr>
    </table>

    <mat-paginator
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 25, 100]"
      [showFirstLastButtons]="true"
      aria-label="Select page of users"
      [length]="dataSource.data.length"
    ></mat-paginator>
  </div>

</ng-container>

<ng-container *ngIf="!dataLoaded">
  <app-table-shimmer-effect></app-table-shimmer-effect>
</ng-container>

