<div class="flex justify-between items-center py-5">
    <h2 class="font-bold font-cormorant text-3xl">Sub Category Detail</h2>
    <!-- <button
    (click)="openDialog()"
      class="bg-[#0E483F] border text-white py-2 px-4 font-cormorant text-xl rounded-lg hover:bg-white hover:text-[#0E483F] hover:border hover:border-[#0E483F] transition-transform duration-300 transform hover:scale-105"
    >
      Add
    </button> -->


  </div>

  <div class="border p-5 space-y-3">
    <h2 class="text-2xl font-bold font-cormorantInfant">{{selectedCategory.name}}</h2>
    <p class="text-xl font-cormorantInfant md:pr-16">Lorem, ipsum dolor sit amet consectetur adipisicing elit. At blanditiis aperiam id magni consequuntur itaque perspiciatis culpa ex nihil nesciunt ab consectetur autem, vero cupiditate? Perspiciatis nostrum odit et necessitatibus?</p>
    <p class="text-xl font-cormorantInfant md:pr-16 font-semibold">Total of {{totalProduct}} Products under this Sub Category</p>
  </div>

  <mat-form-field appearance="outline" class="w-full mt-4">
    <mat-label>Outline form field</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Placeholder" #input />
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>

  <ng-container *ngIf="totalProduct>0">
    <div
    class="mat-elevation-z8 example-table-container"
    style="width: 100%; overflow-x: auto; position: relative;"
  >


    <table
      mat-table
      [dataSource]="dataSource"
      matSort
    >

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row">{{ row.name }}</td>
      </ng-container>

      <!-- Product Name Column -->
      <ng-container matColumnDef="productCode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
        <td mat-cell *matCellDef="let row">{{ row.code }}</td>
      </ng-container>

      <!-- Product Price Column -->
      <ng-container matColumnDef="productPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
        <td mat-cell *matCellDef="let row">{{ row.unitPrice }}</td>
      </ng-container>

      <!-- Discount Column -->
      <ng-container matColumnDef="discount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Discount </th>
        <td mat-cell *matCellDef="let row">{{ row.discount }}</td>
      </ng-container>

      <!-- Orderable Column -->
      <ng-container matColumnDef="orderable">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Orderable </th>
        <td (click)="updateOrderableStatus(row)" mat-cell *matCellDef="let row">
          <button
            mat-raised-button
            color="primary"
            *ngIf="row.orderable"
            class="order-button"
          >
            Yes
          </button>
          <button
            mat-raised-button
            color="warn"
            *ngIf="!row.orderable"
            class="order-button"
          >
            No
          </button>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let row">
          <div class="button-group">
            <button
              mat-icon-button
              (click)="openEditDialog(row)"
              style="color: green;"
              class="small-button edit"
            >
              <mat-icon aria-label="Edit">edit</mat-icon>
            </button>
            <button
              mat-icon-button
              style="color: red;"
              (click)="deleteData(row)"
              class="small-button delete"
            >
              <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="6">No data matching the filter "{{ input.value }}"</td>
      </tr>
    </table>

    <mat-paginator
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 25, 100]"
      [showFirstLastButtons]="true"
      aria-label="Select page of users"
      [length]="dataSource.data.length"
    ></mat-paginator>
  </div>
  </ng-container>
  <ng-container *ngIf="totalProduct<=0">
    <h2 class="font-cormorantInfant text-2xl font-bold">Sorry, No product found under this sub category</h2>
  </ng-container>

