<div class="flex justify-between items-center py-5">
    <h2 class="font-bold font-cormorant text-3xl">Lists of Ingredients</h2>
    <button
      class="bg-[#0E483F] border text-white py-2 px-4 font-cormorant text-xl rounded-lg hover:bg-white hover:text-[#0E483F] hover:border hover:border-[#0E483F] transition-transform duration-300 transform hover:scale-105"
      (click)="openDialog()"
    >
      Add Ingredient
    </button>
  </div>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>Outline form field</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Placeholder" #input />
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>
<ng-container *ngIf="dataLoaded">


    <div
      class="mat-elevation-z8 example-table-container"
      style="width: 100%; overflow-x: auto; position: relative;"
    >


      <table
        mat-table
        [dataSource]="dataSource"
        matSort
      >

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row; let i = index">{{ i + 1 }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let row">{{ row.name }}</td>
        </ng-container>

        <!-- Product Name Column -->
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
          <td mat-cell *matCellDef="let row">{{ row.code }}</td>
        </ng-container>

        <!-- Product Price Column -->
        <ng-container matColumnDef="unitPrice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
          <td mat-cell *matCellDef="let row">{{ row.unitPrice }}</td>
        </ng-container>

        <!-- Discount Column -->
        <ng-container matColumnDef="discount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Discount </th>
          <td mat-cell *matCellDef="let row">{{ row.discount }}</td>
        </ng-container>

         <ng-container matColumnDef="maxThreshold">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Max Threshold </th>
          <td mat-cell *matCellDef="let row">{{ row.maxThreshold }}</td>
        </ng-container>

        <!-- Orderable Column -->
        <!-- <ng-container matColumnDef="orderable">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Orderable </th>
          <td (click)="updateOrderableStatus(row)" mat-cell *matCellDef="let row">
            <button
              mat-raised-button
              color="primary"
              *ngIf="row.orderable"
              class="order-button"
            >
              Yes
            </button>
            <button
              mat-raised-button
              color="warn"
              *ngIf="!row.orderable"
              class="order-button"
            >
              No
            </button>
          </td>
        </ng-container> -->

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>

          <td mat-cell *matCellDef="let row">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button
              mat-menu-item
              (click)="openEditDialog(row)"
              style="color: green;"
              class="small-button edit"
            >
              <mat-icon   style="color: green;" aria-label="Edit">edit</mat-icon> Edit
              </button>
            <hr>
            <button
            mat-menu-item
            style="color: red;"
            (click)="deleteData(row)"
            class="small-button delete"
          >
            <mat-icon             style="color: red;"
            aria-label="Delete">delete</mat-icon> Delete
            </button>
          <hr>

            </mat-menu>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="6">No data matching the filter "{{ input.value }}"</td>
        </tr>
      </table>

      <mat-paginator
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 25, 100]"
        [showFirstLastButtons]="true"
        aria-label="Select page of users"
        [length]="dataSource.data.length"
      ></mat-paginator>
    </div>

</ng-container>

<ng-container *ngIf="!dataLoaded">
  <app-table-shimmer-effect></app-table-shimmer-effect>
</ng-container>