

<table border="1" style="width: 100%; border-collapse: collapse; border-spacing: 10px;">
    <tbody>
      <!-- Rows -->
      <tr>
        <td class="h-8 rounded-md p-2 text-center border-2 ">
            <p class="h-6 shimmer-line"></p>
        </td>
        <td class="h-8 rounded-md p-2 text-center border-2 ">
            <p class="h-6 shimmer-line"></p>
        </td>
        <td class="h-8 rounded-md p-2 text-center border-2 ">
            <p class="h-6 shimmer-line"></p>
        </td>
        <td class="h-8 rounded-md p-2 text-center border-2 ">
            <p class="h-6 shimmer-line"></p>
        </td>
        <td class="h-8 rounded-md p-2 text-center border-2 ">
            <p class="h-6 shimmer-line"></p>
        </td>
      </tr>
      <tr>
        <td class="h-8 rounded-md p-2 text-center border-2 ">
            <p class="h-6 shimmer-line"></p>
        </td>
        <td class="h-8 rounded-md p-2 text-center border-2 ">
            <p class="h-6 shimmer-line"></p>
        </td>
        <td class="h-8 rounded-md p-2 text-center border-2 ">
            <p class="h-6 shimmer-line"></p>
        </td>
        <td class="h-8 rounded-md p-2 text-center border-2 ">
            <p class="h-6 shimmer-line"></p>
        </td>
        <td class="h-8 rounded-md p-2 text-center border-2 ">
            <p class="h-6 shimmer-line"></p>
        </td>
      </tr>
      <tr>
        <td class="h-8 rounded-md p-2 text-center border-2 ">
            <p class="h-6 shimmer-line"></p>
        </td>
        <td class="h-8 rounded-md p-2 text-center border-2 ">
            <p class="h-6 shimmer-line"></p>
        </td>
        <td class="h-8 rounded-md p-2 text-center border-2 ">
            <p class="h-6 shimmer-line"></p>
        </td>
        <td class="h-8 rounded-md p-2 text-center border-2 ">
            <p class="h-6 shimmer-line"></p>
        </td>
        <td class="h-8 rounded-md p-2 text-center border-2 ">
            <p class="h-6 shimmer-line"></p>
        </td>
      </tr>
      <tr>
        <td class="h-8 rounded-md p-2 text-center border-2 ">
            <p class="h-6 shimmer-line"></p>
        </td>
        <td class="h-8 rounded-md p-2 text-center border-2 ">
            <p class="h-6 shimmer-line"></p>
        </td>
        <td class="h-8 rounded-md p-2 text-center border-2 ">
            <p class="h-6 shimmer-line"></p>
        </td>
        <td class="h-8 rounded-md p-2 text-center border-2 ">
            <p class="h-6 shimmer-line"></p>
        </td>
        <td class="h-8 rounded-md p-2 text-center border-2 ">
            <p class="h-6 shimmer-line"></p>
        </td>
      </tr>
      <tr>
        <td class="h-8 rounded-md p-2 text-center border-2 ">
            <p class="h-6 shimmer-line"></p>
        </td>
        <td class="h-8 rounded-md p-2 text-center border-2 ">
            <p class="h-6 shimmer-line"></p>
        </td>
        <td class="h-8 rounded-md p-2 text-center border-2 ">
            <p class="h-6 shimmer-line"></p>
        </td>
        <td class="h-8 rounded-md p-2 text-center border-2 ">
            <p class="h-6 shimmer-line"></p>
        </td>
        <td class="h-8 rounded-md p-2 text-center border-2 ">
            <p class="h-6 shimmer-line"></p>
        </td>
      </tr>
    </tbody>
  </table>