

.shimmer-line {
    background: linear-gradient(to right, #f0f0f0 20%, #e0e0e0 40%, #f0f0f0 60%);
    background-size: 200% 100%;
    animation: shimmer 2s infinite;
  }

  .shimmer-animation {

    gap: 1rem;
  }



  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    25%{
        background-position: -100%;
    }
    50%{
        background-position: 100%;
    }
    100% {
      background-position: 200% 0;
    }
  }
