<div class="py-8  flex flex-col items-center justify-center ">
    <img class="rounded-full w-44 h-44" src="assets/user3.jpg" alt="">
    <h2 class="font-cormorantInfant text-2xl font-bold">{{user.fullName}}</h2>
    <h2 class="font-cormorantInfant text-xl">Finance Manager</h2>
    <h2 class="border-2 w-52 border-[#0E483F]"></h2>

    <div class="flex flex-col pt-3 justify-center items-center space-y-3">
      <h2 class="font-cormorantInfant text-xl"><i class="fa text-[#0E483F] px-2 fa-map-marker" ></i> Bole Branch</h2>
      <h2 class="font-cormorantInfant text-xl"><i class="fa text-[#0E483F] px-2 fa-envelope"></i> {{user.email}}</h2>
      <h2 class="font-cormorantInfant text-xl"><i class="fa text-[#0E483F] px-2 fa-phone-square"></i> {{user.phoneNumber}}</h2>
       <div class="flex justify-end items-end">
       <h2 class="cursor-pointer"  (click)="openEditDialog(user)"> <i class="fa text-[#0E483F] fa-edit">Edit</i> </h2>
       </div>
    </div>
</div>