@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;600;700&family=Cormorant+Infant:wght@400;500;600;700&family=Josefin+Sans:ital,wght@0,400;1,500;1,600;1,700&display=swap');
@import '~@angular/cdk/overlay-prebuilt.css';
@import '../node_modules/font-awesome/css/font-awesome.css';
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

$primaryColor: #0E483F;
$secondaryColor: #EDDDC4;
$thirdColor: #343942;
$fourthColor: #FFF8F5;
$whiteColor: #FFFFFF;
$blackColor: #000000;
$redColor: #FF0000;
$cormorant-gramond: 'Cormorant Garamond', serif;
$cormorant-infant: 'Cormorant Infant', serif;
$josefin: 'Josefin Sans', sans-serif;
// @use '@angular/material' as mat;

// @include mat.core();

// $indigo-palette: (
//  50: #e8eaf6,
//  100: #c5cae9,
//  200: #9fa8da,
//  300: #7986cb,
// );

// $my-primary: mat.define-palette(mat.$indigo-palette, 500);
// $my-accent: mat.define-palette(mat.$indigo-palette, A200, A100, A400);

// $my-theme: mat.define-light-theme((
//  color: (
//    primary: $my-primary,
//    accent: $my-accent,
//  ),
//  typography: mat.define-typography-config(),
//  density: 0,
// ));

// @include mat.all-component-themes($my-theme);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }

body {
    position: relative;
    background: #f4f7fa;
}
 .mdc-notched-outline__leading {
    border-color: #0E483F !important;
  }
   .mdc-notched-outline__notch {
    border-right-color: transparent !important;
    border-left-color: #0E483F !important;
    border-bottom-color: #0E483F !important;
    border-top-color: #0E483F !important;
  }
   .mdc-notched-outline__trailing {
    border-color: #0E483F !important;
  }


.card{
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: #fff;
    margin: 1.25rem 1.25rem 0;
    box-shadow:0 0.25rem .5rem #e6edef;
    color: #495057;
    .card-head{
        padding: 1rem 1.5rem;
        border-bottom: 1px solid  #edf1f7;
        font-size: 1rem;
        font-weight: 600;
    }
    .card-body{
        padding: 1rem 1.5rem;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
// .mat-mdc-table{
//     background-color: $secondaryColor;
// }
// .mat-mdc-table .mdc-data-table__header-row , .mat-mdc-paginator-container {
//     background-color: $primaryColor;
// }
// .mdc-data-table__cell {
//     color: #000000;
// }
// .mat-mdc-table .mdc-mdc-row{
//     border-bottom: 1px solid $thirdColor;
// }
// .mdc-data-table__content tr{
//     border-bottom: 2px solid #b2b3b5;
// }

// .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label{
//     color: #0E483F;
// }

// .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label{
//     color: #000000;
// }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.mdc-checkbox .mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled~.mdc-checkbox__background {
border-color: #0E483F !important;
background-color: #0E483F !important;
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:not(:checked):not(:indeterminate):not([data-indeterminate=true])~.mdc-checkbox__background {
  border-color: #0E483F !important;
}


element.style {
  background: black;
}
.p-galleria-thumbnail-container{
  background-color: #000000;
}

/* Add a close icon at the top right corner of the galleria */
.p-galleria .p-galleria-header {
  position: relative;
}

.p-galleria .p-galleria-close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.custom-galleria .p-galleria-header {
  position: relative;
}

.star-rating {
  display: flex;
  align-items: center;
}

.star {
  cursor: pointer;
  font-size: 24px;
  margin-right: 4px;
  transition: transform 0.2s, font-size 0.2s;
}

.star span {
  display: inline-block;
  transition: color 0.2s, background-color 0.2s;
}

.star:hover {
  transform: scale(1.2);
}

.star span.full {
  color: white;
  border: 1px solid black;
  background-color: gold;
}

.star span.half {
  position: relative;
  overflow: hidden;
  width: 0.5em;
  color: white;
  border: 1px solid black;
  background-color: gold;
}

.custom-galleria .p-galleria-close {
  position: absolute;
  top: 100px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: wheat;
  border-radius: 100%;
  cursor: pointer;

}
